.error {
  border: 1px solid red;
}

error-message {
  visibility: hidden;
}

input.error + error-message {
  visibility: visible;
}

.clothing-article {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.clothing-article p {
  margin: 0;
}
